
/*----------  best-selling  ----------*/

	.lema-best-selling {
		background-color: #8dd64f;
		color: #fff;
		font-family: Montserrat;
		font-weight: 600;
		display: inline-block;
		vertical-align: top;
		padding: 8px 0 8px 15px;
		border-radius: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 61px;
		z-index: 2;
	    border-top-left-radius: 8px;
    	border-bottom-left-radius: 0;
	}

	.lema-best-selling:before {
 	   	content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    border-top: 64px solid #8dd64f;
	    border-right: 64px solid transparent;
	    top: 0;
	    right: -40px;
	    z-index: -1;
	}

	.lema-best-selling:after {
		content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    border-bottom: 64px solid #8dd64f;
	    border-right: 64px solid transparent;
	    top: 0;
	    right: -40px;
	    z-index: -1;
	}

/*----------  hours course  ----------*/

	.lema-hours {
		background-color: #333146;
		color: #fff;
		padding: 8px;
		display: inline-block;
		vertical-align: top;
		border-radius: 3px;
		position: absolute;
		bottom: 0;
		right: 0;
	}

/*----------  button view and add  ----------*/

	
	.lema-view-add a {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		color: #333146;
		padding: 4px 20px 0 20px;
		border-radius: 15px;
		background-color: #fff;
		position: relative;
		font-size: 0;
		line-height: 20px;
	}

	.lema-view-add a:hover {
		color: #8dd64f;
	}
	.lema-view-add a + a {
		margin-left: 10px;
	}

	.lema-view-add a:before {
		font-size: 18px;
		font-family: FontAwesome;
	}

	.lema-view-add .view-button:before {
		content: '\f06e';
	}

	.lema-view-add .add-button:before {
		content: '\f217';
	}

	.lema-button-image {
		position: absolute;
		top: calc(50% - 15px);
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.lema-button-image .note-devices {
		font-family: Montserrat;
		color: #ffffff;
		margin-top: 10px;	
		position: relative;
	}

	.lema-button-image .note-devices:before {
		content: "\f10b";
		font-family: FontAwesome;
		font-size: 26px;
		color: #333146;
		position: absolute;	
		top: 30px;
		left: 50%;
		-webkit-transform: translate(-50%);
		-ms-transform: translate(-50%);
		-o-transform: translate(-50%);
		transform: translate(-50%);
	}

/*----------  button category  ----------*/
	.lema-button-category > a {
		color: #6f6e72;
		height: 35px;
		padding: 8px 10px;
		background-color: #fbfbfb;
		border-radius: 3px;
	}

	.lema-button-category > a:hover, 
	.lema-button-category > a:focus {
		color: #fff;
		background-color: #ed6639;
	}

	.lema-button-category > a + a {
		margin: 0 10px;
	}

 /*----------  author  ----------*/
 	.lema-author img {
 		width: 32px;
		height: 32px;
		border-radius: 50%;
 	}

 	.lema-author .author-name {
		font-family: Montserrat;
		text-align: left;
		color: #6f6e72;
		margin-left: 5px;
		display: inline-block;
		vertical-align: middle;
 	}
/*----------  date begin course  ----------*/
	.lema-date-start > a  {
		font-size: 11px;
		font-family: Montserrat;
		text-align: left;
		color: #858585;
	}

/*----------  star rating  ----------*/
	.lema-star-rating {

	}

	.rating { 
		border: none;
	}

	.lema-star-rating fieldset {
		margin: 0;
		padding: 0;
		height: 30px;
	}

	.rating > input { display: none; } 
	.rating > label:before { 
		margin: 5px 2px;
		font-size: 14px;
		font-family: FontAwesome;
		display: inline-block;
		content: "\f005";
	}

	.rating > .half:before { 
		/*content: "\f089";
		position: absolute;*/
	}

	.rating > label { 
		color: #ddd; 
		float: none; 
		font-size: 14px;
	}

	.lema-star-rating .view-star {
		color: #233142;
		font-weight: 700;
		font-size: 16px;
		display: block;
	}

	.lema-star-rating .view-star span {
		font-family: Montserrat;
		font-size: 11px;
		text-align: left;
		color: #858585;
		margin-left: 5px;
	}


/*----------  discount  ----------*/
	.lema-discount .price del {
		font-family: Montserrat;
		font-size: 14px;
		text-align: left;
		color: #6f6e72;
		display: inline-block;
		vertical-align: top;
	}

	.lema-discount .price span {
		font-family: Montserrat;
		font-size: 14px;
		text-align: left;
		color: #333146;
	}

	.lema-discount .time-sale {
		font-family: Montserrat;
		font-size: 28px;
		font-weight: bold;
		letter-spacing: 0.5px;
		color: #8dd64f;
		display: inline-block;
		vertical-align: top;
		float: right;
	}

	.lema-discount .time-sale span {
		font-family: Montserrat;
		font-size: 11px;
		text-align: left;
		color: #d53939;
		display: block;
		margin-top: 5px;
	}


/*----------  live and view  ----------*/
	.lema-like-view ul {
		padding: 0; 
		margin: 0;
	}

	.lema-like-view li {
		display: inline-block;
		vertical-align: top;
		color: #6f6e72;
		font-family: Montserrat;
	} 

	.lema-like-view li + li {
		margin-left: 15px;
	}

	.lema-like-view li:before {
		font-family: FontAwesome;
		margin-right: 10px;
		font-size: 18px;
	}

	.lema-like-view .liked:before {
		content: '\f004';
	}

	.lema-like-view .view:before {
		content: '\f0c0';
	}

	

/*----------  level and save  ----------*/
	.lema-level-save ul {
		padding: 0;
		margin: 0;
	}

	.lema-level-save li {
		display: inline-block;
		vertical-align: top;
		color: #6f6e72;
		font-family: Montserrat;
	} 

	.lema-level-save li + li {
		margin-left: 15px;
	}

	.lema-level-save li:before {
		font-family: FontAwesome;
		margin-right: 10px;
		font-size: 18px;
	}

	.lema-level-save .graph:before{
		content: '\f012';
	}

	.lema-level-save .saved:before {
		content: '\f097';
	} 